{% extends "base.html" %}

{% block title %}Camera Areas{% endblock %}

{% block content %}
    <div>
        {% for area in areas %}
        <br>
        <div class="card text-white bg-dark" style="width: 100%;">
            <div class="card-body">
                <h5 class="card-title">{{area.name}}</h5>
                <p class="card-text">{{ area.capacity }}</p>
                <a href="/data/videos/{{area.id}}" class="btn btn-primary">Go to videos</a>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
