{% extends "base.html" %}

{% block title %}Videos{% endblock %}

{% block content %}
    <div>
        {% for video in videos %}
        <br>
        <div class="card text-white bg-dark" style="width: 100%;">
            <div class="card-body">
                <div>
                    <video class="img-fluid" height="100" controls >
                    <source src="{{ video.video.url }}" type="video/mp4">
                </div>
                <h5 class="card-title">{{video.name}}</h5>
                <p class="card-text">{{ video.datetime |date:'D, m-d-Y' }}</p>
                <p class="card-text">{{ video.datetime |date:'H:i:s A' }}</p>
                <a href="/data/runmodels/{{video.id}}" class="btn btn-primary">Run Analytic</a>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
