.vscode
.vscode/settings.json
.vscode/.prettierrc
Analytics/object_detection/weights/*
Analytics/object_detection/cfg/*
__pycache__
pretrained_models
*.weights
.DS_Store
Analytics/data
Analytics/data/1200x800.jpg
Analytics/data/diverse-group-of-people.jpg
Analytics/data/im-163221.jpg
Analytics/results
db.sqlite3
Analytics/object_detection/persons-imgs
smartSurv/__pycache__
smartSurv/__pycache__/__init__.cpython-38.pyc
smartSurv/__pycache__/settings.cpython-38.pyc
media/videos